
 @import url('https://fonts.googleapis.com/css?family=Caveat+Brush|IM+Fell+English+SC');


h1 {
  height: 6vw;
  text-align: center;
  font-family: 'IM Fell English SC', serif;
  font-size: 6vw;
  margin-top: 3vw;
  margin-bottom: 2vw;
}

body {
  background-color: #cac8c1;

  /* background-image: url("../images/backgrnd.jpg"); */
}

table {
  display: flex;
  margin: auto;

}

td {

  background-color: #2799d1;
  border-radius: 1vw;
  font-family: 'Caveat Brush', cursive;

  overflow: hidden;
  text-align: center;
}

td div {
  width: 13vw;
  height: 13vw;
  font-size: 15vw;
  line-height: 13vw;
}

#player1 p {
  visibility: hidden;
}

#player2 p {
  visibility: hidden;
}

#boardSizeDial p {
  font-family: 'Caveat Brush', cursive;
  font-size: 2vw;
  margin: auto;

}

#boardSizeDial {
  margin: auto;
  text-align: center;
  grid-column: 2/3;
  grid-row: 3/4;
}



h2 {
  font-family: 'IM Fell English SC', serif;
  font-size: 3vw;
  width: 80%;
  text-align: center;
  transition-duration: 0.3s;
  margin: auto;
  margin-top: 3vw;
  border-radius: 1vw;
  background-color: #ffa500;

}


button  {
  font-family: 'Caveat Brush', cursive;
  font-size: 2vw;

}

input[type="range"] {
  margin-bottom: 2vw;

}

input[type="text"] {
  font-size: 2vw;
}


.theGame {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 25% 10% auto;
}

.controls {

  justify-self: center;
  font-size: 2vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  font-family: 'Caveat Brush', cursive;
}

.reset {

  justify-self: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
  font-family: 'Caveat Brush', cursive;
}

.gameResult {
  position: absolute;
  height: 24%;
  width: 80%;
  left: 10%;
  top: 35%;
  background-color: rgba(200, 0, 0, 0.85);
  color: white;
  font-family: 'IM Fell English SC', serif;
  font-size: 7vw;
  text-align: center;
  margin: auto;
  border-radius: 0.5vw;
  line-height: 14vw;


}

.hidden {
  visibility: hidden;
}

.activePlayer {
  box-shadow: 0vw 0vw 3vw black;
}

.inactivePlayer {
  box-shadow: 79vw 0vw 3vw black;
}

.activeLetter {
  font-size: 14vw;
  text-align: center;
  line-height: 0;
  visibility: visible !important;
  font-family: 'Caveat Brush', cursive;
}
